.places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  gap: 80px;
}

@media screen and (max-width: 984px) {
  .places {
    gap: 73px;
  }
}

@media screen and (max-width: 568px) {
  .places {
    gap: 50px;
  }
}