.header {
  max-width: 1184px;
  min-height: 52px;
  margin: 28px 48px 56px 48px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
/*
@media screen and (max-width: 1152px) {
  .header {
    max-width: 928px;
    margin: 28px 48px 48px 48px;
  }
}

@media screen and (max-width: 896px) {
  .header {
    max-width: 720px;
    margin-top: 48px;
    margin: 28px 24px 48px 24px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    max-width: 288px;
    min-height: 42px;
    margin-top: 48px;
    margin: 16px 16px 48px 16px;
  }
} */