.place__main-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 984px) {
  .place__main-text {
    gap: 25px;
  }
}

@media screen and (max-width: 722px) {
  .place__main-text {
    margin: 0 16px;
  }
}