.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

@media screen and (max-width: 722px) {
  .place__link {
    margin: 0 16px;
  }
}