.place {
  color: white;
  max-width: 100%;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: repeat(2, auto);
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1124px) {
  .place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 984px) {
  .place {
    grid-template-columns: 340px 352px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 722px) {
  .place {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}