.place {
  color: white;
  max-width: 984px;
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(1fr, 460px) minmax(1fr, 484px);
  /* grid-template-columns: repeat(2, auto); */
  grid-template-rows: repeat(2, auto);
  column-gap: 48px;
  row-gap: 40px;
}

@media screen and (max-width: 1124px) {
  .place {
    max-width: 928px;
    max-width: 100%;
    column-gap: 32px;
  }
}

@media screen and (max-width: 984px) {
  .place {
    max-width: 720px;
    max-width: 100%;
    column-gap: 28px;
  }
}

@media screen and (max-width: 568px) {
  .place {
    /* max-width: 320px;
    max-width: 100%;
    column-gap: 32px;
    grid-template-columns: auto; */
    display: flex;
    flex-direction: column;
  }
}