.footer {
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 715px) {
  .footer {
    flex-direction: column;
    gap: 48px;
  }
}