.footer {
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  max-width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1124px) {
  .footer {
    max-width: 928px;
    max-width: 100%;
  }
}

@media screen and (max-width: 984px) {
  .footer {
    max-width: 720px;
    max-width: 100%;
  }
}

@media screen and (max-width: 715px) {
  .footer {
    max-width: 186px;
    flex-direction: column;
    gap: 48px;
    max-width: 100%;
  }
}