.photo-grid__image {
  min-height: 213px;
  max-width: 284px;
}

@media screen and (max-width: 1124px) {
  .photo-grid__image {
    min-height: 225px;
    max-width: 300px;
  }
}

@media screen and (max-width: 984px) {
  .photo-grid__image {
    min-height: 264px;
    max-width: 352px;
  }
}

@media screen and (max-width: 568px) {
  .photo-grid__image {
    min-height: 216px;
    max-width: 288px;
  }
}